<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;700&family=Oxygen:wght@400;700&display=swap'
      rel='stylesheet'
    />
    <style>
      * { font-family: 'Open Sans', Helvetica, sans-serif; font-weight: 400; line-height: 140%;
      box-sizing: border-box; } h1 { font-weight: 700; } b { font-weight: 700; } table {
      border-collapse: collapse; width: 50%; margin: 20px auto; text-align: center; } th, td {
      border: 1px solid #dddddd; padding: 8px; } th { background-color: #f2f2f2; }
    </style>
  </head>
  <body>
    <h1>Raport z postępów przedmoitu {{subject}}</h1>
    <h3>
      Raport dotyczy studentów prowadzonych przez:
    </h3>
    <table>
      <tr>
        <th>Imię i nazwisko</th>
        <th>Email</th>
      </tr>
      {{#each teachers}}
        <tr>
          <td>{{this.teacherName}}</td>
          <td>{{this.email}}</td>
        </tr>
      {{/each}}
    </table>

    <h3>Oto tendencje prowadzonych studentów:</h3>

    <table>
      <tr>
        <th>Zwyżkowa</th>
        <th>Spadkowa</th>
        <th>Brak trendencji</th>
      </tr>
      <tr>
        <td>{{trandsCount.ascendingTrend}}</td>
        <td>{{trandsCount.descendingTrend}}</td>
        <td>{{trandsCount.noTrend}}</td>
      </tr>
    </table>

    <br />
    <p>Pozdrawiamy<br />Uniwersytet WSB Merito</p>
  </body>
</html>